@use '../base/variables' as *;

.page-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0;

    a {
        font-size: 18px;
        color: $color-primary;
        text-decoration: none;
        padding: 10px 15px;
        border: 1px solid $color-secondary;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $color-secondary;
            color: $color-white;
        }
    }
}