@use '../base/variables' as *;

/* Footer */
.footer {
    background-color: $footer-brown;
    color: $color-white;
    padding: 40px 0;
    margin-top: auto;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 40px;

        .footer-logo {
            font-size: 2rem;
            font-weight: 800;
            text-transform: uppercase;
        }

        .footer-links,
        .footer-contact,
        .footer-details,
        .footer-info {
            display: flex;
            gap: 40px;
            align-items: center;
        }

        .footer-link-item,
        .footer-item,
        .contact-item {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.1rem;
            font-weight: 700;

            i {
                font-size: 1.5rem;
            }

            a {
                color: $color-white;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}

// Responsive
@media (max-width: 900px) {
    .footer-content {
        flex-direction: column;
        gap: 30px;
        text-align: center;

        .footer-links,
        .footer-contact {
            flex-direction: column;
            gap: 20px;
        }
    }
}