@use 'variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

body {
    background-color: $color-background;
    color: $color-text;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}